body {
    margin: 0;
    font-family: "Lucida Grande";
    min-width:300px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  
  a {
    text-decoration: none;
  }
  
  .container {
    width: 90%;
    padding: 0 15px;
    margin: 0 auto;
    height: 100%;
  }
  
  .top-wrapper {
    padding: 100px 0 50px 0;
    background-size: cover;
    color: rgb(0, 0, 0);
    text-align: left;
    background-color: beige;
  }
  
  .top-wrapper h1 {
    opacity: 0.7;
    font-size: 45px;
    letter-spacing: 5px;
    margin-bottom: 5px;
  }
  
  .top-wrapper p {
    opacity: 0.7;
    margin-bottom: 3px;
  }
  
  .btn-wrapper {
    margin: 20px 0;
  }
  
  .btn-wrapper p {
    margin: 10px 0;
  }
  
  .signup {
    background-color: #25239b;
    box-shadow:0px 7px #000000;
  }
  
  .facebook {
    background-color: #7a1ea5;
    box-shadow:0px 7px #000000;
  }
  
  .facebook:active{
    top:7px;
    position:relative;
    box-shadow: none;
  }
  .signup:active{
    top:7px;
    position:relative;
    box-shadow: none;}

  .btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    opacity: 0.8;
    border-radius: 4px;
  }
  
  .btn:hover {
    opacity: 1;
  }
  
  .fa {
    margin-right: 5px;
  }
  
  header {
    height: 65px;
    width: 100%;
    background-color: rgba(49, 119, 224, 0.9);
    position:fixed;
    z-index :10;
  }
  
  .logo {
    font-size: 40px;
    font-weight: bold;
    font-family: Snell Roundhand, cursive;
    color: white;
    float:left;
    line-height: 65px;
    cursor:pointer ;

  }
  
  .header-left {
    float: left;
  }
  .header-right{
      float: right;
  }
  
  .header-right ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.header-right ul li a{
    color: rgb(255, 255, 255);
    text-decoration:none;
}
.header-right ul li a:hover{
    border-bottom: 3px solid yellow;
    transition: 0.5s;}

.Home{
    border-bottom: 3px solid yellow;
    transition: 0.5s;
}
  .lesson-wrapper {
    height: 700px;
    padding-bottom: 30px;
    text-align: center;
    padding-top:30px;
    background-color:blanchedalmond;
    max-height:1500px;
  }
  
  .heading {
    padding-top: 60px;
    padding-bottom: 30px;
    color: #5f5d60;
    max-height:1500px;

    
  }
  
  .heading h1 {
    font-weight: normal;
    padding-top:10px;
    margin-left: 40px;
    font-size: 62px;
    border-bottom: 5px solid rgb(219, 84, 31);
    border-radius:10px;
    font-weight: bold;
    text-align: left;
    
  }
  
  
  .message-wrapper {
    border-bottom: 1px solid #eee;
    padding-bottom: 80px;
    text-align: center;
  }
  
  .message {
    padding: 15px 40px;
    background-color: #5dca88;
    cursor: pointer;
    box-shadow: 0 7px #1a7940;
  }
  
  .message:active {
    position: relative;
    top: 7px;
    box-shadow: none;
  }
  
  
.container h1 span{
    color:red
}
.btn-wrapper a{
border-radius:10px
}

/*----- course -----*/
.lesson-wrapper{


  background-size: cover;
  color: rgb(0, 0, 0);}
.heading p{
    text-align: left;
    line-height: 30px;
    font-size: 30px;
    position: relative;
    width : 90%;
    margin-left : 40px
}
.footer{
  padding:40px 0;
  background-color:rgba(49, 119, 224, 0.9);
  
  
}
.footer .social{
  text-align:center;
  padding-bottom: 25px;
  color:#25239b;
}

.footer .social a{
  font-size:24px;
  color:inherit;
  border:1px solid #ccc;
  width:40px;
  height:40px;
  line-height:38px;
  display:inline-block;
  text-align:center;
  border-radius: 50%;
  margin:0 8px;
  opacity:0.75;
}
.footer .social a:hover{
  opacity:0.5;
}
.footer ul{
  margin-top:0;
  padding:0;
  list-style: none;
  font-size: 18px;
  margin-bottom:0;
  text-align: center;
}
.footer ul li a{
  color:inherit;
  text-decoration: none;
  opacity:0.8;
  color: #fff;
}
.footer ul li {
  display:inline-block;
  padding:0 15px;

}
.footer .list p{
  text-align: center;
  color: #fff;
}
.lessonk{
  float:right;
  width:35%;
  background-color: rgb(55, 105, 134);
border-radius: 20px;
margin-bottom: 70px;
transition: 0.8s;
margin-right: 60px;
}

.lessonn{
  float:left;
  width:35%;
  padding-top: 0px;
  background-color: rgb(55, 105, 134);
  border-radius: 20px;
 margin-bottom: 70px;
 font-family:  MS, sans-serif;
transition: 0.8s;
margin-left: 60px;}

.lessonk:hover{
  background-color: rgb(43, 30, 224);
}
.lessonn:hover{
  background-color: rgb(43, 30, 224);
}

.about_me{
  min-width:300px;
  border-radius: 10px;
  font-family:  MS, sans-serif;
background-color:lightgoldenrodyellow;
padding-top:50px;
padding-bottom: 50px;}

.title1 h1 {
  font-weight: normal;
  float: middle;
  padding-left: 10px;
  padding-top:10px;
  font-size: 62px;
  border-bottom: 5px solid rgb(39, 61, 185);
  border-radius:10px;
  font-weight: bold;
  color:#5f5d60}

.lesson-iconn{
float:right;
padding : 20px 40px;
}
.lesson-iconk{
  float:left;
  padding : 20px 40px;
  }
.lesson-iconn img{
  max-height: 225px;
  max-width: 225px;
}
.lesson-iconk img{
  max-height: 225px;
  max-width: 225px;
}
.conn{
  padding-top: 0px;
  text-align: center;}
.judulon{
  border-radius: 10px;
  text-align: center;
  
}
.conk{
  text-align: center;
  padding-top:0px

}
.judulok{
  border-radius: 10px;
  text-align: center;
  
}
footer{
  margin-top:auto
}
#preloader{
  background:#000 url(loader1.gif)no-repeat center center;
  height:100vh;
  width:100%;
  position:fixed;
  z-index: 100;
}
.container img{
  max-height: 450px;
  max-width: 450px;
  float:right}

.heading img{
  float : left;
  max-height: 550px;
  max-height: 550px;
}
.title1{
  background-color:lightgoldenrodyellow;
  text-align:center;
}
.lessonk h2{
  color:white;
  text-align: center;
}
.lessonn h2{
  color:white;
  text-align: center;
}
.heading p span{
  color : red
}
.title1 h1 span {
  color : rgb(55, 105, 134)
}
